<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>I AM</h2>
<div class="summary">
	<p>
		<h3 class="job-title">Educated</h3>
		I am a hands-on technical type with a mind-on theoretical degree. That means ability to resolve problems and formulate them in precise terms; identify key points and apply different strategies; carry out academic projects independently with the help of bibliographies and databases; ability to communicate orally, writing and using ICTs in a clear and precise way; develop analytical capacity, a correct usage of technical language and the ability to construct logical arguments; the ability to work autonomously with initiative and in an organised manner, to plan and carry out a task or group project, interact with peers and share responsibilities.
	</p>
</div>
<div class="summary">
	<p>
		<h3 class="job-title">A problem assassin</h3>
		 I study a problem, analyzing its weak points before I strike with surgical precision; I see all the angles and use this unique vantage point to come at a problem from a direction it would never expect.
	</p>
</div>
<div class="summary">
	<p>
		<h3 class="job-title">A thought meteorologist</h3>
		I am always thinking ahead, forecasting potential problems and following developing technological trends.

	</p>
	</div>
<div class="summary">
	<p>
		<h3 class="job-title">Data-Driven</h3>
		I was playing with data and computers while the other kids were still playing with marbles, and I use the stats to help identify and mitigate risks, construct project schedules and prepare status reports.

	</p>
		</div>
<div class="summary">
	<p>
		<h3 class="job-title">Focused on team</h3>
		I find, shape and cultivate teams that don't just swing to the fences, they jack that (metaphorical) baseball beyond the stars; I help to develop the tools and creative atmosphere to shine, but ultimately hold them accountable for making smart calls and delivering value. I've always got my team's back, unfailingly the first to lend a hand, ear, or fist bump; I create and foster partnerships, always open to feedback to force multiply and crush lofty goals as a team.
	</p>
		</div>
<div class="summary">
	<p>
		<h3 class="job-title">Coachable</h3>
		I eagerly listen to constructive feedback, internalize it, and strive to step up my game; I am a human sponge, soaking up new information and expanding to take on new challenges that sometimes lie outsied my comfort tzone.
	</p>
	</div>
<div class="summary">
	<p>
		<h3 class="job-title">Passionate and persistent</h3>
		I embrace new challenges with entrepreneurial enthusiasm; I don't fear failure, considering every misstep an important learning experience.
	</p>
		</div>
<div class="summary">
	<p>
		<h3 class="job-title">Astute</h3>
		I don't hide from problems. I quickly jump in to solve them; figuring out the 'why' and 'how' of things is part of my nature.
	</p>

</div><!--//summary-->
</section><!--//section-->
