 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
  
 <div class="item">
    <h4 class="degree">PhD Actuarial Mathematics</h4>
    <h5 class="meta">Cass Business School, City University of London</h5>
    <div class="time">2018 - Present</div>
</div><!--//item-->
  
<div class="item">
    <h4 class="degree">MSc in Modelling for Science and Engineering</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2017 - 2018</div>
</div><!--//item-->
  
<div class="item">
    <h4 class="degree">MSc in Mathematics for Finance</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2016 - 2017</div>
</div><!--//item-->
  
<div class="item">
    <h4 class="degree">BSc in Physics</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
</div><!--//education-container-->
