<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Scientist</h3>
                            <div class="time">February 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Socialpoint, Barcelona</div>
                        <p>During my time in this video game company, I fulfilled different data science duties, such as:</p>
                        <ul>
                        <li>Created and presented models for time series forecasting.</li>
                        <li>Applied A/B testing and decision tree analysis to identify causes for lower-than-usual retention.</li>
                        <li>Created automatic dashboards that tracked many models' accuracies in a daily basis.</li>
                        <li>Conducted thorough exploratory analysis identifying patterns and seeking useful features for <em>Machine Learning</em> models.</li>
                        <li>All of the above was automated and beatifully wrapped up in pretty <b>R Shiny Apps</b> for more straightforward use.</li>
                        </ul>

                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Risk Management Analyst</h3>
                            <div class="time">February 2017 - July 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Caixa d'Enginyers, Barcelona</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> In banking industry I have had the opportunity to test my theoretical skills in real-world situations. During my time in this company, I managed to:</p>
                      <ul>
                      <li> Apply mathematical methods in assessing risk indicators.</li>
                      <li> Develop my team-work capabilities.</li>
                      <li> Further enhance my coding skills, and apply them to many different necessities.</li>
                      <li> Handle large databases with limited computational resources.</li>
                      <li> Improve time and workload management in order to deliver tasks on very tight deadlines .</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">February 2016 - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">CSIC, Barcelona</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Participation in the 'CONECTA' campaing, a research project focused in the study of the evolution of little crustaceans grub in the Mediterranean Sea. I have also helped in the developement of simulation models involving the dynamic processes of internal waves over continental slopes. </p>
                        <p>Working with such unbelievable professionals helped me to understand the importance of being detail-oriented and rigorous with your projects. Furthermore, working in my own project told me how to pull the chestnuts out of the fire by myself in many situations; developing the tough skill of <i> getting things done</i>.</p>
                                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mathematics Teacher</h3>
                            <div class="time">2012 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Freelance</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Since I started my Bachelor Degree, I helped High School and Undergraduate students to improve their mathematics and basic physics skills.</p>
                        <p>This experience forced me to develop outstanding communication skills and the ability to simplify complex concepts in front of public.</p>
                    </div><!--//details-->
                </div><!--//item-->
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Waiter</h3>
                            <div class="time">2009 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Many restaurants, bars and hotels; Tossa de Mar (Spain)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I have worked as a waiter during summers and weekends since I was 16 in order to pay tuition fees and other education expenses.</p>
                        <p>Besides the specific skills demanded by this kind of job (dealing with people in respectous manners, timing control of different processes, multitasking abilites, etc.), this experience is about working for yourself and learning the struggle involved in pursuing your aspirations.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
