<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">youtube.com/user/iPirateLoL</a></span> - <span class="project-tagline">I create a videogames-related YouTube channel focused in gathering professional plays in competitive tournaments. I made the whole design and the mountage of videos; I also was responsible of gathering of the clips and the community management. The profits of this project was my main income for a time.</span>
            </section><!--//section-->
