<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><p><b>iPirate</b></p><a href="#hook"></a></span><span class="project-tagline"><p>I create a videogames-related YouTube channel focused in gathering professional plays in competitive tournaments. I made the whole design and the mountage of videos; I also was responsible of gathering of the clips and the community management. The profits of this project was my main income for a time.</p>

                    <p>youtube.com/user/iPirateLoL</p>

                    <p>Working with the audience data of the channel is where I found my love for data analytics.</p></span>
            </section><!--//section-->
